{% extends 'MystahCraftSiteBundle::layout.html.twig' %}

{% block title %}
	{{ parent() }} - Joueurs
{% endblock %}

{% block body %}
	<h1>Joueurs</h1>
	<ul>
	{% for groupe in groupes %}
		<li>{{ groupe.name }}
			<ul>
			{% for user in groupe.users %}
				<li>{{ user.username }}</li>
			{% endfor %}
			</ul>
		</li>
	{% endfor %}
{% endblock %}

