{% extends 'MystahCraftAdminBundle::layout.html.twig' %}

{% block title %}
	{{ parent() }} - Page d'administration des règles
{% endblock %}

{% block contenu %}
	<h1>Page d'administration des règles</h1>
	{% for rule in rules %}
	<ul>
		<li>
			<a href="{{ path('admin_modifier_rule', {id : rule.id}) }}">Règle n°{{ rule.id }}</a>
		</li>
	</ul>
	{% endfor %}
	
	<a href="{{ path('admin_ajouter_rule') }}">Ajouter règle</a>
{% endblock %}