@CHARSET "ISO-8859-1";

*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	
	background: #8d8964;
	color: #9a6213;
}

body h1
{
	font-size: 1.5em;
	color: #442b08;
	margin-bottom: 1.5em;
}

body h2
{
	font-size: 1.325em;
	color: #6b440b;
	margin-bottom: 1em;
}

body p
{
	
}

.main
{
	width: 980px;
	margin: auto;
}

header
{
	background: #7a3a33; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdhM2EzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzdhM2EzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQxJSIgc3RvcC1jb2xvcj0iIzMzNGYxZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzMzNGYxZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left,  #7a3a33 0%, #7a3a33 40%, #334f1e 41%, #334f1e 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#7a3a33), color-stop(40%,#7a3a33), color-stop(41%,#334f1e), color-stop(99%,#334f1e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #7a3a33 0%,#7a3a33 40%,#334f1e 41%,#334f1e 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #7a3a33 0%,#7a3a33 40%,#334f1e 41%,#334f1e 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #7a3a33 0%,#7a3a33 40%,#334f1e 41%,#334f1e 99%); /* IE10+ */
	background: linear-gradient(to right,  #7a3a33 0%,#7a3a33 40%,#334f1e 41%,#334f1e 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a3a33', endColorstr='#334f1e',GradientType=1 ); /* IE6-8 */
	min-width: 980px;

	position: relative;
	width: 100%;
}


header #header
{
	height: 300px;
	margin: 0 500px 0 300px;
	background: #7a3a33; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdhM2EzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ1JSIgc3RvcC1jb2xvcj0iI2FmNTA0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU1JSIgc3RvcC1jb2xvcj0iIzY5N2MyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzRmMWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #7a3a33 0%, #af5049 45%, #697c2f 55%, #334f1e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#7a3a33), color-stop(45%,#af5049), color-stop(55%,#697c2f), color-stop(100%,#334f1e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #7a3a33 0%,#af5049 45%,#697c2f 55%,#334f1e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #7a3a33 0%,#af5049 45%,#697c2f 55%,#334f1e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #7a3a33 0%,#af5049 45%,#697c2f 55%,#334f1e 100%); /* IE10+ */
	background: linear-gradient(to right,  #7a3a33 0%,#af5049 45%,#697c2f 55%,#334f1e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a3a33', endColorstr='#334f1e',GradientType=1 ); /* IE6-8 */

	min-width: 180px;
}

header #parchemin
{
	position: absolute;
	background: url("../images/parchemin.png");
	width: 100%;
	height: 300px;
	left: 0;
	top: 0;
}

header #parchemin-border
{
	position: absolute;
	background: url("../images/parchemin-border.png");
	height: 300px;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

header #header #headerbg-left-right
{
	position: absolute;
	background-image: url("../images/left-header-mystahcraft.png"), url("../images/right-header-mystahcraft.png");
	background-position: top left, top right;
	background-repeat: no-repeat;
	width: 100%;
	min-width: 980px;
	height: 300px;
	left: 0;
	
}

header #header h1
{
}

header #header-logo
{
	margin-left: 300px;
	margin-right: 400px;
	height: 300px;
	text-align: center;
	position: relative;
}

header #header-logo #img-logo
{
	position: absolute;
	left: 50%;
	margin-left: -430px;
	top: 0;
	background: url("../images/DiamSword.png") no-repeat;
}

#header .main
{
	position: relative;
	height: 300px;
	width: 930px;
}

header #header #auth
{
	font-size: 12px;
	line-height: 1em;
	position: absolute;
	right : 0;
	bottom: 0;
	padding: 5px 10px 5px 10px;
	background: #b0a96e;
	border: #c8c49a 5px solid;
    -webkit-border-radius: 5px;
    border-radius: 20px 20px 0 0;
    color: #fff;
    z-index: 2;
}

header #header #auth #login-name
{
	margin-right: 20px;
}

header #header #auth a
{
	color: #442b08;
	text-decoration: none;
	font-weight: 600;
}


nav 
{
	font-size: 14px;
	line-height:1em;
	background: url('../images/frise-menu.png');
}

nav ul
{
	list-style: none;
	height: 30px;
}

nav ul li
{
	float: left;
	margin: 3px 10px 0 0;
}

nav ul li a
{
	font-weight: bold;
	color: #fdf8ad;
	display: block;
	padding: 5px;
	text-decoration: none;
	background: #b5af81;
	-webkit-box-shadow: inset -3px -2px 20px 0px rgba(0, 0, 0, 0.5);
	box-shadow: inset -3px -2px 20px 0px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

nav ul li a:hover
{
	color: #fff;
	-webkit-box-shadow: inset 3px 2px 20px 0px rgba(0, 0, 0, 0.5);
	box-shadow: inset 3px 2px 20px 0px rgba(0, 0, 0, 0.5);
}

nav ul:after
{
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

#container
{
	background: url('../images/bas-frise-menu.png') repeat-x #f8f6d8;
	min-height: 300px;
}

#content
{
}

#contenu
{
	padding: 20px;
	padding-top: 30px;
}

#contenu #rules-mystah
{
	font-size: 12px;
	width: 25%;
	float: left;
	position: relative;
}

#rules-mystah #adresse-ip
{
	margin-bottom: 20px;
}

#rules-mystah li.rule
{
	margin-top: 8px;
	list-style: decimal;
	list-style-position: 0;
	margin-left: 17px;
	text-align: justify;
}

#rules-mystah #sign-rules
{
	text-align: right;
	margin-top: 10px;
}

#rules-mystah #footer-rules
{ 
	margin-top: 10px;
}

#contenu #index-content
{
	margin-left: 27%;
}

#articles-mystah
{
	padding: 10px;
}

#articles-mystah .article
{
	margin-top: 5px;
	padding: 10px;
	text-align: justify;
}

#pagination
{
	margin-top: 30px;
	width: 100%;
}

#pagination #articles-recents
{
	float: left;	
}

#pagination #articles-anciens
{
	float: right;	
}

#pagination:after
{
	content: '.';
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

#contenu:AFTER
{
	content: '.';
	clear: both;
	visibility: hidden;
	display: block;
}

footer
{
	padding: 10px;
	background: #8d8964;
}

footer #copyright
{
	color: #f8f6d8;
	display: table;
	margin: auto;
	margin-bottom: 40px;
}